html{
    
    scroll-behavior: smooth;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
#img-size{
    width: 30px;
}
.brand-text{
    color: #00FFF5;
    font-family: 'Unica One', cursive;
}

  
.underline{
    color: #00FFF5 !important;
 }

 
#navbar-links .underline:hover{

    border-bottom: 1px solid #00FFF5;
}
.overlaydiv {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 20px;
    top: 25%;
    left: 25%;
}
.border-white{
    border-radius: 20px;
    border-width: 6px !important;
}







/* landing section */

#landing img {
    max-height: 100vh;
}
.display-5 {
    font-size: 1rem;
}
.display-2 {
    font-weight: 400 !important;
    
}
.display-3 {
    font-weight: 400 !important;
    font-family: 'Unica One', cursive !important;
}






/* ABOUT SECTION */
#about-container{
    min-height: 100vh;
    background: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.progressBar{
    background-color: teal !important;
}
.Header{
    color: #00FFF5;
    font-family: 'Unica One', cursive;
}




/* Project section */
#project-container{
    min-height: 100vh;
    background: url(./images/hivebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
#projects {
    min-height: 100vh;
    background-color:rgba(0,0, 0, 0.4);
}

.bg-lightgrey {
    background-color:whitesmoke;
}

.img-box {
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    overflow: hidden;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.max-width {
    width: 1300px !important ;
}

.border-primary {
    border-color: #00FFF5 !important;
}

.img-box :hover {
    opacity: 0.7;
    transition-duration: 0.5s;
    transform: scale(1.1)

}








/* TOOLS SECTION */
#tools{
    min-height: 50vh;
    background: url(./images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.jumbotron {
    background-color: rgb(38, 38, 38,0.9);
}

.jumbotron img{
    height: 100px;
}
/* CONTACT SECTION */

#contact {
    min-height: 70vh;
    background: url(./images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fa-img-size {
    font-size: 25px;
}
.display-6{
    font-size: 25px;
    font-weight: bold;
}
#gmap_canvas {
    height: 300px;
    width: 100%;
}
.fa-brand-size {
    font-size: 40px;
}

/* FOOTER SECTION */

footer{
    min-height: 10vh;
}